In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import warnings

In [4]:
busquedas6 = pd.read_excel("RAW/DATOS INPUT.xlsx", sheet_name='BÃºsquedas a 6 meses', header = 3)
busquedas6

,Etiquetas de fila,DE,DK,ES,FI,FR,GB,IE,NO,SE,IT,PL,NL,BE,PT,AT,Total general
0,2019-01,598902,411990,323062,131985,388208,2981446,175714,200472,464585,460603,161883,144307,110488,52165,44456,6650266
1,2019-02,547062,411450,331989,118191,295381,2670078,175782,167577,488772,344018,105525,81182,70873,57040,41329,5906249
2,2019-03,589666,437989,380792,129399,379500,2896715,202368,185364,541335,444473,87832,115509,94247,82651,44241,6612081
3,2019-04,536834,320153,378821,93252,343448,3111495,217648,140701,424244,447799,83112,148103,126068,82387,39194,6493259
4,2019-05,573769,278175,369421,76734,357641,3672768,211553,138216,475636,421783,83484,173009,144690,86721,37736,7101336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-09,726662,303338,1200285,159075,435833,1452536,136656,162010,556025,658026,236825,272407,120823,185912,104716,6711129
57,2023-10,646514,395136,1417030,137703,480222,1353003,152803,191033,943107,796103,286128,265376,126463,188501,122215,7501337
58,2023-11,596924,613434,1265724,135600,417025,1710880,136000,366025,1570427,747989,290713,265134,120620,160305,124247,8521047
59,2023-12,580315,677899,1257105,130351,408637,1826940,115527,294280,1352780,720022,342619,286150,125005,168773,109581,8395984
60,Total general,36289274,16026154,42591021,5384529,21458382,129252189,7577474,8944527,27119162,28532657,8335842,8933190,6813765,6702937,3386462,357347565

In [6]:
busquedas6 = busquedas6.rename(columns={'Etiquetas de fila': 'Fecha'})# Cambiamos el nombre a fecha
busquedas6

,Fecha,DE,DK,ES,FI,FR,GB,IE,NO,SE,IT,PL,NL,BE,PT,AT,Total general
0,2019-01,598902,411990,323062,131985,388208,2981446,175714,200472,464585,460603,161883,144307,110488,52165,44456,6650266
1,2019-02,547062,411450,331989,118191,295381,2670078,175782,167577,488772,344018,105525,81182,70873,57040,41329,5906249
2,2019-03,589666,437989,380792,129399,379500,2896715,202368,185364,541335,444473,87832,115509,94247,82651,44241,6612081
3,2019-04,536834,320153,378821,93252,343448,3111495,217648,140701,424244,447799,83112,148103,126068,82387,39194,6493259
4,2019-05,573769,278175,369421,76734,357641,3672768,211553,138216,475636,421783,83484,173009,144690,86721,37736,7101336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-09,726662,303338,1200285,159075,435833,1452536,136656,162010,556025,658026,236825,272407,120823,185912,104716,6711129
57,2023-10,646514,395136,1417030,137703,480222,1353003,152803,191033,943107,796103,286128,265376,126463,188501,122215,7501337
58,2023-11,596924,613434,1265724,135600,417025,1710880,136000,366025,1570427,747989,290713,265134,120620,160305,124247,8521047
59,2023-12,580315,677899,1257105,130351,408637,1826940,115527,294280,1352780,720022,342619,286150,125005,168773,109581,8395984
60,Total general,36289274,16026154,42591021,5384529,21458382,129252189,7577474,8944527,27119162,28532657,8335842,8933190,6813765,6702937,3386462,357347565

In [8]:
busquedas6.duplicated().sum()

0

In [9]:
busquedas6.isnull().sum()

Fecha            0
DE               0
DK               0
ES               0
FI               0
FR               0
GB               0
IE               0
NO               0
SE               0
IT               0
PL               0
NL               0
BE               0
PT               0
AT               0
Total general    0
dtype: int64