In [2]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import warnings

In [3]:
busquedas3 = pd.read_excel("RAW/DATOS INPUT.xlsx", sheet_name='BÃºsquedas a tres meses', header = 3)
busquedas3

,Etiquetas de fila,DE,DK,ES,FI,FR,GB,IE,NO,SE,IT,PL,NL,BE,PT,AT,Total general
0,2019-01,390095,252447,248836,90786,271023,1581704,79002,110163,303539,338805,117179,95141,75992,36251,30666,4021629
1,2019-02,372062,262999,249147,90023,201188,1737175,105616,105635,332957,230360,75012,58909,51124,36343,29587,3938137
2,2019-03,405078,287247,290156,101802,263866,2022997,145452,128901,392781,297650,63045,82788,67943,55194,32767,4637667
3,2019-04,376287,243601,299507,66568,252702,2226281,165868,114855,339539,304156,62699,107512,90941,57970,29290,4737776
4,2019-05,414791,214424,317756,56018,302971,2886671,170425,114313,379061,356904,66648,130855,107186,71095,29491,5618609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-09,652748,266164,1102675,139804,398132,1311398,119185,145249,507581,591130,192316,235825,105614,172574,91371,6031766
57,2023-10,539068,315287,1265311,111359,402352,1157720,125492,156920,802020,689942,226727,210322,105017,167165,101871,6376573
58,2023-11,449919,454807,1083760,103474,318000,1291356,101825,287149,1253485,606505,217223,196481,90748,137180,99143,6691055
59,2023-12,443113,511444,1057806,102997,303186,1343901,82607,236732,1059672,568671,253417,216554,97015,141329,88174,6506618
60,Total general,28937035,12489432,37422393,4292449,17714658,100377385,5876579,7228454,22214181,23823347,6607209,7127876,5566608,5765082,2803130,288245818

In [4]:
busquedas3 = busquedas3.rename(columns={'Etiquetas de fila': 'Fecha'}) # Cambiamos el nombre a fecha
busquedas3

,Fecha,DE,DK,ES,FI,FR,GB,IE,NO,SE,IT,PL,NL,BE,PT,AT,Total general
0,2019-01,390095,252447,248836,90786,271023,1581704,79002,110163,303539,338805,117179,95141,75992,36251,30666,4021629
1,2019-02,372062,262999,249147,90023,201188,1737175,105616,105635,332957,230360,75012,58909,51124,36343,29587,3938137
2,2019-03,405078,287247,290156,101802,263866,2022997,145452,128901,392781,297650,63045,82788,67943,55194,32767,4637667
3,2019-04,376287,243601,299507,66568,252702,2226281,165868,114855,339539,304156,62699,107512,90941,57970,29290,4737776
4,2019-05,414791,214424,317756,56018,302971,2886671,170425,114313,379061,356904,66648,130855,107186,71095,29491,5618609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-09,652748,266164,1102675,139804,398132,1311398,119185,145249,507581,591130,192316,235825,105614,172574,91371,6031766
57,2023-10,539068,315287,1265311,111359,402352,1157720,125492,156920,802020,689942,226727,210322,105017,167165,101871,6376573
58,2023-11,449919,454807,1083760,103474,318000,1291356,101825,287149,1253485,606505,217223,196481,90748,137180,99143,6691055
59,2023-12,443113,511444,1057806,102997,303186,1343901,82607,236732,1059672,568671,253417,216554,97015,141329,88174,6506618
60,Total general,28937035,12489432,37422393,4292449,17714658,100377385,5876579,7228454,22214181,23823347,6607209,7127876,5566608,5765082,2803130,288245818

In [5]:
busquedas3.duplicated().sum()

0

In [6]:
busquedas3.isnull().sum()

Fecha            0
DE               0
DK               0
ES               0
FI               0
FR               0
GB               0
IE               0
NO               0
SE               0
IT               0
PL               0
NL               0
BE               0
PT               0
AT               0
Total general    0
dtype: int64

In [7]:
busquedas3.to_excel("Limpio/busquedas3_clean.xlsx", index=False)

In [8]:
busquedas3

,Fecha,DE,DK,ES,FI,FR,GB,IE,NO,SE,IT,PL,NL,BE,PT,AT,Total general
0,2019-01,390095,252447,248836,90786,271023,1581704,79002,110163,303539,338805,117179,95141,75992,36251,30666,4021629
1,2019-02,372062,262999,249147,90023,201188,1737175,105616,105635,332957,230360,75012,58909,51124,36343,29587,3938137
2,2019-03,405078,287247,290156,101802,263866,2022997,145452,128901,392781,297650,63045,82788,67943,55194,32767,4637667
3,2019-04,376287,243601,299507,66568,252702,2226281,165868,114855,339539,304156,62699,107512,90941,57970,29290,4737776
4,2019-05,414791,214424,317756,56018,302971,2886671,170425,114313,379061,356904,66648,130855,107186,71095,29491,5618609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2023-09,652748,266164,1102675,139804,398132,1311398,119185,145249,507581,591130,192316,235825,105614,172574,91371,6031766
57,2023-10,539068,315287,1265311,111359,402352,1157720,125492,156920,802020,689942,226727,210322,105017,167165,101871,6376573
58,2023-11,449919,454807,1083760,103474,318000,1291356,101825,287149,1253485,606505,217223,196481,90748,137180,99143,6691055
59,2023-12,443113,511444,1057806,102997,303186,1343901,82607,236732,1059672,568671,253417,216554,97015,141329,88174,6506618
60,Total general,28937035,12489432,37422393,4292449,17714658,100377385,5876579,7228454,22214181,23823347,6607209,7127876,5566608,5765082,2803130,288245818